*.swp
*.o
*.swo
*.csv
*.dwave
Makefile


benchmark/run_test.py
benchmark/collect_result.py

test/blifs/.dwave_history_cmd
test/.dwave_history_cmd
test.tcl
*.log
b

temp.blif

log
warn
dwave
dwave-debug

src/syn
regression/testcases
unit_test/cnf2blif
tags
time.cc.bak
obj/
release/
lib/
.ycm_extra_conf.py
.ycm_extra_conf.pyc
*.pyc
*.matrix
*.config

*/*/Makefile

bin
doc/*

*.bak
